body {
    text-align: center;
}

#video {
    height: 500px;
    width: 1365px;
}

#details {
    text-align: left;
    margin-top: -600px;    
}

#map {
    text-align: right;
}

.img-responsive {
    text-align: top;
    margin-top: -20px;
}